<app-nav></app-nav>
<div class="profile">
  <div class="profile-image">
    <img src="" alt="image" />
  </div>
  <div class="coachee-details">
    <h3>name</h3>
    <h5>
      professional Details :
      <span
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi atque
        alias quasi, aperiam nesciunt totam! Possimus officiis porro eum officia
        nihil repellendus nam veniam debitis, fugiat molestiae atque accusamus
        eligendi!</span
      >
    </h5>
  </div>
</div>
