<!-- <div class="coachee-section" (click)="toCoacheeProfile()"></div> -->

<div class="container mt-5">
  <div class="row">
      <div class="col-md-4">
          <div class="card p-3">
              <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
                  <div class="d-flex flex-column ml-2"><span>Niraj</span><span class="text-black-50">Associate</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              <h6>Skills : <span>React</span>,<span>Angular</span> </h6>
              <div class="d-flex justify-content-between install mt-3"><span>Connected 09/11/2021</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card p-3">
              <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
                  <div class="d-flex flex-column ml-2"><span>Niraj</span><span class="text-black-50">Associate</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              <h6>Skills : <span>React</span>,<span>Angular</span> </h6>
              <div class="d-flex justify-content-between install mt-3"><span>Connected 09/11/2021</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card p-3">
              <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
                  <div class="d-flex flex-column ml-2"><span>Niraj</span><span class="text-black-50">Associate</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              <h6>Skills : <span>React</span>,<span>Angular</span> </h6>
              <div class="d-flex justify-content-between install mt-3"><span>Connected 09/11/2021</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card p-3">
              <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
                  <div class="d-flex flex-column ml-2"><span>Niraj</span><span class="text-black-50">Associate</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              <h6>Skills : <span>React</span>,<span>Angular</span> </h6>
              <div class="d-flex justify-content-between install mt-3"><span>Connected 09/11/2021</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card p-3">
              <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
                  <div class="d-flex flex-column ml-2"><span>Niraj</span><span class="text-black-50">Associate</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              <h6>Skills : <span>React</span>,<span>Angular</span> </h6>
              <div class="d-flex justify-content-between install mt-3"><span>Connected 09/11/2021</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card p-3">
              <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
                  <div class="d-flex flex-column ml-2"><span>Niraj</span><span class="text-black-50">Associate</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              <h6>Skills : <span>React</span>,<span>Angular</span> </h6>
              <div class="d-flex justify-content-between install mt-3"><span>Connected 09/11/2021</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      


  </div>
</div>


